.sass-cache/**
*.scssc
node_modules/**
bower_components/**
object-wizard/bower_components/**
object-wizard/node_modules/**
leap-gestures/bower_components/**
leap-gestures/node_modules/**
leap-gestures/dist/js/**
