html {

}

body {

}

//clearfix for floating elements -> http://css-tricks.com/all-about-floats/
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0px;
  clear: both;
  font-size: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


// distance to previous elements
.dist-to-prev-base      { margin-top: $baseline-grid-unit; }// 6px = 1 unit of baseline grid
.dist-to-prev-double    { margin-top: 2 * $baseline-grid-unit; } // 12px = 2 units of baseline grid
.dist-to-prev-triple    { margin-top: 3 * $baseline-grid-unit; }
.dist-to-prev-quad      { margin-top: 4 * $baseline-grid-unit; }
// distance to following element
.dist-to-next-base      { margin-bottom: $baseline-grid-unit; }
.dist-to-next-double    { margin-bottom: 2 * $baseline-grid-unit; }
.dist-to-next-triple    { margin-bottom: 3 * $baseline-grid-unit; }
.dist-to-next-quad      { margin-bottom: 4 * $baseline-grid-unit; }


.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: $clr-2;
    padding: $size-gutter;
    padding-top: 0.5 * $size-gutter;
    padding-bottom: 0.5 * $size-gutter;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; // no line break even if flex objects are bigger than width
}

.header--detail-page {
    background-color: #000;
}

.header__logo-cont {
    margin: 0;
    flex: 1 10.0rem;
    @include media("<720px") { //
        flex: 1 100%;
        text-align: center;
        margin-bottom: 0.5 * $size-gutter;
        font-size: 1.0rem;
    }

    img {
        max-width: 10.0rem;
    }
}


.header__description {
    text-align: right;
    flex: 3;
    p {
        max-width: none;
    }
    @include media("<720px") { //
        flex: 1 100%;
        text-align: center;
        margin-bottom: 0.5 * $size-gutter;
        font-size: 1.0rem;
    }
}


.object {
    background-color: #000;
    min-height: 60.0rem;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border: none;
    transition: background-size 0.35s;
    &:hover {
        background-size: auto 110%;
    }
}

.object-radio {
    background-image: url(../img/radio@1x.jpg);

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        background-image: url(../img/radio@2x.jpg);
    }
}

.object-ventilator {
    background-image: url(../img/ventilator@1x.jpg);
}

.object-lamp {
    background-image: url(../img/lamp@1x.jpg);
}


.object__link {
    display: flex;
    flex: 1 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover {
        // background-color: rgba(255, 255, 255, 0.12);
    }
}

.content {
    display: flex;
    flex-flow: row wrap;
}

.object-overview { //section
    padding-top: $size-gutter;
    flex: 1 100%;
    background-image: url(../img/radio@1x.jpg);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 80.0rem;
}

.object-overview__controls {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    // background-color: #46D6FF;
    order: 1;
    max-width: 7.0rem + $size-gutter;
    padding-left: $size-gutter;
    padding-top: $size-gutter;
}

.object-overview__title {
    flex: 3 auto;
    // background-color: rgba(255, 98, 33, .3);
    order: 2;
    text-align: center;
    font-size: 9.0rem;
    padding-right: 7.0rem + 2 * $size-gutter;
}


.object-overview p {
    flex: 1 100%;
    order: 4;
    color: #fff;
    background-color: #63FF5E;
}



button {
    width: 5.5rem;
    height: 5.5rem;
    text-indent: -15000px;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 5.0rem auto;
    cursor: pointer;
    border: none;
    margin-bottom: 1.0rem;
}

.btn--play {
    background-image: url("../img/icons/play@1x.png");
}

.btn--pause {
    background-image: url("../img/icons/pause@1x.png");
}

.btn--next {
    background-image: url("../img/icons/next_track@1x.png");
}

.btn--prev {
    background-image: url("../img/icons/prev_track@1x.png");
}

.btn--vol-up {
    background-image: url("../img/icons/volume_up@1x.png");
}

.btn--vol-down {
    background-image: url("../img/icons/volume_down@1x.png");
}







footer {
    display: flex;
    flex-flow: row wrap;
    padding: $size-gutter;

    background-color: $clr-2;
}

.footer__info {
    // flex: amount of space (all 1 -> all equal |
    flex: 1 auto;
    @include media("<790px") { //
        flex: 1 100%;
        margin-bottom: $size-gutter;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}


@include media("<720px") { //
    .object-overview__controls {
        flex: 1 100%;
        order: 2;
        padding: 0;
        max-width: 100%;
        width: 100%;
        padding-top: 40.0rem;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .object-overview__title {
        flex: 1 100%;
        order: 1;
        padding-right: 0;
    }

    button {
        width: 15.0rem;
        height: 15.0rem;
        background-size: 10.0rem;
        flex: 1 33%
    }
}


