* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Mono', Helvetica, Arial;
  font-size: 20px;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.gestures {
    display: flex; /* establish flex container */
    /*flex-direction: column;*/
}

.gestures li {
  float: left;
  width: 150px;
  height: 90px;
  margin-right: 4px;
  list-style: none;
}

.gestures li img {
  width: 150px;
  border: 1px solid #E2E2E2;
}

.brightness {
    font-size: 13px;
    display: flex;
    flex: 1; /* distribute all available space evenly among flex items */
    align-items: center; /* center text vertically (in this case) */
    justify-content: center;  /* center text horizontally (in this case) */
    max-width: 150px;
}

.form-input {
  background: white;
  padding: 3px;
  width: 100%;
  position: fixed;
  bottom: 30px;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.form-img {
  position: fixed;
  top: 30px;
  right: 0;
}

.form-input input {
  border: 1px solid #BFBFBF;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
  font-family: 'Fira Mono', Helvetica, Arial;
  font-size: 20px;
  float: left;
}

button {
  font-family: 'Fira Mono', Helvetica, Arial;
  font-weight: 700;
  font-size: 15px;
  color: black;
  width: 9%;
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  flex: 1;
}

.button--img {
  width: auto;
  margin-right: 3px;
}

.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.messages li {
  padding: 5px 10px;
}

.messages li:nth-child(odd) {
  background: #eee;
}