html {
    height: 100%;
    /* apply a natural box layout model to all elements, but allowing components to change */
    box-sizing: border-box;
}

body {
    height: 100%;
    border: 10px solid rgba(0,0,0,0);
}

//clearfix for floating elements -> http://css-tricks.com/all-about-floats/
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0px;
  clear: both;
  font-size: 0;
}

/* inheriting from html */
*, *:before, *:after {
    box-sizing: inherit;
}


// distance to previous elements
.dist-to-prev-base      { margin-top: $baseline-grid-unit; }// 6px = 1 unit of baseline grid
.dist-to-prev-double    { margin-top: 2 * $baseline-grid-unit; } // 12px = 2 units of baseline grid
.dist-to-prev-triple    { margin-top: 3 * $baseline-grid-unit; }
.dist-to-prev-quad      { margin-top: 4 * $baseline-grid-unit; }
// distance to following element
.dist-to-next-base      { margin-bottom: $baseline-grid-unit; }
.dist-to-next-double    { margin-bottom: 2 * $baseline-grid-unit; }
.dist-to-next-triple    { margin-bottom: 3 * $baseline-grid-unit; }
.dist-to-next-quad      { margin-bottom: 4 * $baseline-grid-unit; }





/* ==========================================================================
   Gesture specific styling
   ========================================================================== */

body.any-interaction {
    background-color: #DBF9FF;
}

body.distinct-interaction {
    background:
        radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
        radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
        background-color: slategray;
        background-size:75px 100px;
}

body.gesture {
    background-color: #C3FAC4;
}

body.fast-moves {
    border: 10px solid #FF0C00;
}

.hint {
    height: 7px;
    width: 100%;
    background-color: #FAAF6E;
}

.leap-frame-info {
    float: right;
    width: 20%;
    height: 100%;
    list-style-type: none;
}

